{{ define "index" }}
  {{ template "base" . }}
{{ end }}

{{ block "title" . }}Zp.it - Fast, simplified URL shortener{{ end }}

{{ block "content" . }}
  <div class="w-full max-w-3xl mx-auto text-center py-10 px-5">
    <a href="/counter" class="underline text-sm text-sky-700"
      >See shortlink click counter</a
    >
    <div id="error-display"></div>
    <h1 class="text-2xl md:text-4xl font-medium mt-7 mb-3">
      Zp.it - Fast, Simplified URL Shortener
    </h1>
    <p class="text-sm md:text-base text-slate-500 mb-10">
      Create short & memorable link in seconds. For free.
    </p>
    <form
      hx-post="/generate"
      hx-target="#result"
      hx-swap="innerHTML"
      hx-disabled-elt="find button[type='submit']"
    >
      <!-- MAIN URL INPUT -->
      <input
        id="url"
        type="url"
        name="url"
        pattern="https?://.*?\..*"
        required
        placeholder="https://example.com/my-long-url"
        class="block w-full rounded-md bg-white px-4.5 py-3 text-base text-slate-600 outline-1 -outline-offset-1 outline-slate-600/30 placeholder:text-slate-400 focus:outline-2 focus:-outline-offset-2 focus:outline-sky-800 mb-2"
      />

      <div id="alias-container" class="hidden text-left">
        <!-- CUSTOM ALIAS INPUT -->
        <input
          id="alias"
          type="text"
          name="alias"
          placeholder="custom-alias"
          pattern="[a-zA-Z0-9\-_]+"
          minlength="3"
          maxlength="24"
          class="mb-1 block w-full rounded-md bg-white px-4.5 py-3 text-base text-slate-600 outline-1 -outline-offset-1 outline-slate-600/30 placeholder:text-slate-400 focus:outline-2 focus:-outline-offset-2 focus:outline-sky-800"
          oninput="
          if (this.validity.patternMismatch) {
            this.setCustomValidity('Only letters, numbers, hyphens and underscores allowed');
          } else {
            this.setCustomValidity('');
          }
          document.getElementById('alias-preview').textContent = 'Preview: {{ .Host }}' + this.value;
          "
        />
        <span id="alias-preview" class="text-xs font-medium text-slate-500"
          >Preview: {{ .Host }}</span
        >
      </div>

      <!-- CHECKBOXES -->
      <div class="flex items-center gap-5 mt-4 mb-10 flex-wrap">
        <!-- custom alias toggle checkbox -->
        <div class="flex items-center gap-2">
          <input
            type="checkbox"
            id="custom-alias-toggle"
            class="size-4 accent-sky-800 cursor-pointer"
            onchange="
            document.getElementById('alias-container').classList.toggle('hidden', !this.checked);
            if (!this.checked) {
                document.getElementById('alias').value = ''
                document.getElementById('alias-preview').textContent = 'Preview: {{ .Host }}'
            };
            "
          />
          <label
            for="custom-alias-toggle"
            class="text-sm text-slate-500 cursor-pointer font-medium"
          >
            Use custom alias
          </label>
        </div>

        <!-- QR Checkbox -->
        <div class="flex items-center gap-2">
          <input
            type="checkbox"
            id="qr"
            name="qr"
            class="size-4 accent-sky-800 cursor-pointer"
          />
          <label
            for="qr"
            class="text-sm text-slate-500 cursor-pointer font-medium"
            >Generate QR code for this link</label
          >
        </div>
      </div>

      <!-- MAIN SUBMIT BUTTON -->
      <div class="flex w-full justify-center">
        <button
          type="submit"
          class="cursor-pointer flex items-center gap-1 px-4 py-3 bg-sky-800 text-white rounded-md font-semibold text-sm disabled:opacity-50 whitespace-nowrap"
          hx-disabled-elt="this"
        >
          <!-- Spinner -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="animate-spin my-indicator"
          >
            <path d="M12 2v4" />
            <path d="m16.2 7.8 2.9-2.9" />
            <path d="M18 12h4" />
            <path d="m16.2 16.2 2.9 2.9" />
            <path d="M12 18v4" />
            <path d="m4.9 19.1 2.9-2.9" />
            <path d="M2 12h4" />
            <path d="m4.9 4.9 2.9 2.9" />
          </svg>

          <span class="my-indicator">Loading</span>
          <span class="my-no-indicator">Shorten Link</span>
        </button>
      </div>
    </form>

    <!-- RESULT SECTION -->
    <div id="result"></div>
  </div>
{{ end }}
